.image {
  position: relative;
  width: 100px;
  border-radius: 20px;
}
.title {
  margin-bottom: 20px;
}

.content h2 span {
  font-weight: lighter;
}
.siteLink {
  text-decoration: underline;
}
.externalLogo {
  width: 20px;
}

.divBtn {
  width: 100%;
}

.button {
  font-family: "Rajdhani";
  font-weight: bold;
  font-size: 22px;
  padding: 15px;
  width: 100%;
  background-color: #dd969c;
  border: none;
  transition: all 0.6s;
  cursor: pointer;

  color: #272727;
}

/* PANTALLA ESCRITORIO */

@media screen and (min-width: 1305px) {
  .card1 {
    position: relative;
    width: 100%;
    padding: 30px 0px 30px 0px;

    border-radius: 20px;
    box-shadow: 0px 5px 25px #dd969c;

    display: grid;
    grid-template-rows: auto auto auto;
    gap: 20px;
    transition: all 0.6s;
  }

  .card1:hover {
    background-color: #1f1f1f;
    
    box-shadow: 0px 5px 25px white;
  }
  .card1:hover .divBtn .button {
    background-color: white;
    color: #1f1f1f;
  }

  .card2 {
    position: relative;
    width: 100%;
    padding: 30px 0px 30px 0px;

    border-radius: 20px;
    box-shadow: 0px 5px 25px #dd969c;

    display: grid;
    grid-template-rows: auto auto;
    gap: 20px;
    transition: all 0.6s;
  }
  .card2:hover {
    background-color: #1f1f1f;
    
    box-shadow: 0px 5px 25px white;
  }
}

@media screen and (max-width: 1304px) {
  .card1 {
    position: relative;
    width: 100%;
    padding: 30px 0px 30px 0px;

    border-radius: 20px;
    box-shadow: 0px 5px 25px #dd969c;

    display: grid;
    grid-template-rows: auto auto auto;
    gap: 20px;
    transition: all 0.6s;
  }
  .card2 {
    position: relative;
    width: 100%;
    padding: 30px 0px 30px 0px;

    border-radius: 20px;
    box-shadow: 0px 5px 25px #dd969c;

    display: grid;
    grid-template-rows: auto auto;
    gap: 20px;
  }
}
