.title {
  display: none;
}

.image {
  width: 85%;
  border-radius: 50px;
  box-shadow: 0px 0px 25px #dd969c
}

.data h1{
  font-size: 70px;
  color: #dd969c;
  line-height: 70px;
}
.data span {
  font-size: 30px;
}

.frase {
  font-size: 30px;
}

.botones a {
  text-decoration: none;
  color: #272727;
}


/* PANTALLAS ESCRITORIO */
@media screen and (min-width: 981px) {
  .section {
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    border: solid 1px #272727;
    border-radius: 10px;
    width: auto;
    margin: 100px 110px 100px 110px;
    padding: 20px 40px 20px 40px;
    box-shadow: 5px 5px 25px #000000;
  }
    .container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;

    gap: 30px;
    margin: 40px 30px 40px 30px;
  }

  .content {
    position: relative;
    display: grid;
    grid-template-rows: auto auto auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }

  .botones{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
  }

  .botones button {
    color: #272727;
    padding: 20px;
    width:100%;
    background-color: #dd969c;
    border: none;
    border-radius: 25px;
    font-size: 22px;
    font-weight: bold;
    transition: all 0.6s;
    cursor: pointer;
  }

  .botones button:hover {
    background-color: #fff;
  }

}


/* PANTALLAS CELULARES / TABLETS */
@media screen and (max-width: 980px) {
  .section {
    position: relative;
    text-align: center;

    width: auto;
    margin: 100px 25px 100px 25px;
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-items: center;

    gap: 80px;
    margin: 30px 30px 0px 30px;
  }

  .content {
    position: relative;
    display: grid;
    grid-template-rows: auto auto auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .botones{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }

  .botones button {
    color: #272727;
    padding: 20px;
    width:100%;
    background-color: #dd969c;
    border: none;
    border-radius: 25px;
    font-size: 22px;
    font-weight: bold;

  }

}

@media screen and (max-width: 550px) {
  .botones{
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .botones button {
    color: #272727;
    padding: 20px;
    width:100%;
    background-color: #dd969c;
    border: none;
    border-radius: 25px;
    font-size: 22px;
    font-weight: bold;

  }
}
