.title {
  display: none;
}

/* PANTALLA ESCRITORIO */
@media screen and (min-width: 981px) {
  .container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;

    text-align: center;

    border: solid 1px #272727;
    border-radius: 10px;
    width: auto;

    margin: 100px 110px 100px 110px;
    padding: 20px 0px 140px 0px;
    box-shadow: 5px 5px 25px #000000;
  }
  .container h1 {
    font-size: 50px;
  }

  .cardsTechContainer {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    height: 100%;
    border-right: 4px solid #dd969c;
  }

  .cardsSkillsContainer {
    position: relative;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    height: 100%;

    margin: 0px 10px 0 10px;
  }

  .cardsSkillsContainer h2 {
    font-size: 25px;
    font-weight: lighter;

    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    border: 3px solid #dd969c;

    transition: transform 0.2s;
    cursor: default;
  }

  .cardsSkillsContainer h2:hover {
    transform: scale(1.1) translateY(-2px);
  }

  .skills h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 980px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    width: auto;

    margin: 100px 25px 100px 25px;
  }

  .techs h1 {
    font-size: 40px;
    border-bottom: solid 3px #dd969c;
    margin: 5px 0px 10px 0px;
  }

  .cardsTechContainer {
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto;
  }

  .skills {
    margin-top: 10px;
  }
  .skills h1 {
    font-size: 40px;
    border-bottom: solid 3px #dd969c;
    margin: 5px 0px 10px 0px;
  }

  .cardsSkillsContainer {
    margin-top: 20px;
  }
  .cardsSkillsContainer h2 {
    margin: 20px 20px 30px 20px;
    padding: 5px;

    font-size: 25px;
    font-weight: lighter;

    border-radius: 10px;
    border: 2px solid #dd969c;
  }
}
