.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  padding-bottom: 5px;
  border-bottom: 3px solid #dd969c;
}
.divP p{
  font-size: 25px;
}
.parrafo {
  margin: 10px 0px 10px 0px;
}


/* PANTALLAS ESCRITORIO */
@media screen and (min-width: 1305px) {
  .section {
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    border: solid 1px #272727;
    border-radius: 10px;
    width: auto;
    margin: 100px 110px 100px 110px;
    padding: 20px 40px 0px 40px;
    box-shadow: 5px 5px 25px #000000;
  }
  .container {
    position: relative;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    justify-items: center;
    align-items: center;

    gap: 80px;
    margin: 40px 30px 40px 30px;
  }

  .image {
    width: 100%;
  }


}





/* PANTALLA CELULAR */
@media screen and (max-width: 1304px) {
  .section {
    position: relative;
    text-align: center;

    width: auto;
    margin: 100px 25px 100px 25px;
  }

  .container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 10px;
    margin: 30px 30px 0px 30px;
  }

  .image {
    width: 60%;
  }

  .divP {
    text-align: start;
  }
  
}

